<ion-header>
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="info">
    <ion-item>
      <ion-label>
        {{info.nombre}}
      </ion-label>
      <ion-icon (click)="presentAlert('nombre')" slot="end" name="create"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        {{info.cedula}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        {{info.correo}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        {{info.telefono}}
      </ion-label>
      <ion-icon (click)="presentAlert('telefono')" slot="end" name="create"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label class="normal">
        Foto:
      </ion-label>
      <ion-buttons>
        <ion-button>
          <label for="file-upload">
            <ion-icon slot="icon-only" name="images"> </ion-icon>
          </label>
          <!-- formControlName="foto" -->
          <input name="foto" id="foto" required (change)="cargarImgen($event)" id="file-upload" style="display: none;"
            type="file" accept="image/*">
        </ion-button>
      </ion-buttons>
    </ion-item>
    <img [src]="newImage">
  </ion-list>
  <ion-row>
    <ion-col>
      <ion-button color="danger" shape="full" expand="block" (click)="logout()">Salir</ion-button>
    </ion-col>
  </ion-row>
</ion-content>