<ion-header>
  <ion-toolbar>
    <ion-title>registrar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-label >Correo</ion-label>
      <ion-input [(ngModel)]="datos.correo" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label >Contraseña</ion-label>
      <ion-input [(ngModel)]="datos.password" type="text" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label >Nombre</ion-label>
      <ion-input [(ngModel)]="datos.nombre" type="text" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label >Cedula</ion-label>
      <ion-input [(ngModel)]="datos.cedula" type="text" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label >Telefono</ion-label>
      <ion-input [(ngModel)]="datos.telefono" type="number" required>
      </ion-input>
    </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block" (click)="registrar()">Guardar</ion-button>
        </ion-col>
      </ion-row>
  </ion-list>
</ion-content>
